{% extends "balti/base.html" %}
{% block title %}
PESCUIALĂ - {{ balta.name }}
{% endblock title %}
{% block content %}
<p>Bacon ipsum dolor amet bacon ground round pork strip steak prosciutto ham. Cow shank sausage meatloaf short loin
    filet mignon jerky. Short ribs frankfurter fatback, pork chop pastrami chuck flank sausage ham tongue porchetta.
    Strip steak landjaeger tri-tip capicola. Spare ribs corned beef turducken, shoulder buffalo meatloaf doner leberkas
    shank frankfurter pancetta beef. Jerky chislic salami swine short loin short ribs. Kielbasa short loin beef filet
    mignon ball tip, venison rump flank bacon spare ribs sirloin pig doner burgdoggen.

    Alcatra ribeye corned beef meatloaf burgdoggen. Pastrami beef kielbasa, swine brisket sausage ham hock. Bacon jowl
    picanha boudin pastrami tail strip steak kielbasa capicola leberkas ribeye, flank landjaeger. Short ribs tenderloin
    shank kevin flank cow swine ribeye pastrami venison doner pancetta.</p>
{% endblock content %}