{% extends "balti/base.html" %}
{% block title %}
PESCUIALĂ - {{ balta.name }}
{% endblock title %}
{% block content %}
<div>
    <h1>{{ balta }}</h1>
    <ul>
        {% for recenzie in balta.recenzie_set.all %}
        <li>{{ recenzie.title }} - {{ recenzie.stars }}<br>{{ recenzie.review }}
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <form action="{% url 'balti:detail' balta.name %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Trimite recenzie">
    </form>
</div>
{% endblock content %}